


body {
   
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.container{
    width: 30%;
    background-color: rgb(226, 213, 30);
    padding: 30px;
    border-radius: 50px;
    border-color: aqua;


}
img{
    width: 80%;
    border-radius: 20%;
    padding: 20px;
    
}

section {
    
    font-family: Optima, sans-serif;
    font-style: italic;
}
a{
    color: rgb(0, 0, 0);
}

h3 {
    
    font-family: optima, sans-serif;
    font-style: italic;
}


