body {
    text-align: initial;
    color: rgb(255, 255, 255);
    background-color: black;
    margin: 0%;
    padding: 0;
}

section {
    text-align: center;
    font-family: Optima, sans-serif;
    font-style: italic;
}

h3 {
    text-align: center;
    font-family: optima, sans-serif;
    font-style: italic;
}

ul li {
    margin-left: 36%;
    margin-right: 29%;
    text-align: left;
}

ol {
    margin-left: 30%;
    margin-right: 29%;
    text-align: center;
}

img {
    border: 10px solid rgb(229, 241, 15);
}
